@using ScrewTurn.Wiki.Web.Code
@using ScrewTurn.Wiki.Web.Code.Extensions
@using ScrewTurn.Wiki.Web.Localization.Admin
@using ScrewTurn.Wiki.Web.Localization.Messages
@using ScrewTurnWiki.Web
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html dir="@Model.Direction" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="shortcut icon" href="/Content/Images/Icon.ico" type="image/x-icon"/>
    @*<link rel="stylesheet" type="text/css" href="/Content/Themes/Admin.css"/>
    <link rel="stylesheet" type="text/css" href="/Content/Themes/Editor.css"/>*@
    <title>@Model.Title</title>

    @Scripts.Render(BundleConfig.ModernizrJS)
    @Scripts.Render(BundleConfig.JqueryJS)
    @Scripts.Render(BundleConfig.JqueryUnobtrusiveJS)
    @Scripts.Render(BundleConfig.JqueryUIJS)
    @Styles.Render(BundleConfig.JqueryUICss)

    @Styles.Render(BundleConfig.AdminCss)
    @Styles.Render(BundleConfig.EditorCss)
    @Scripts.Render(BundleConfig.JqueryEasingJS)

    @Url.ScriptLink("stw/common/commonwizard.js")
</head>
<body>
<script type="text/javascript">
    var CONFIRM_MESSAGE = "@Messages.ConfirmOperation";
    $(document).ready(function() {
        $.easing.def = "easeInOutQuad";
        $('li.menu-item-title a').click(function(e) {
            var dropDown = $(this).parent().next();
            $('.dropdown').not(dropDown).slideUp('slow');
            dropDown.slideToggle('slow');
            e.preventDefault();
        });
    });
</script>
<div id="MainDiv">
    <h1 class="admintitle">
        <a href = "?Refresh=1" title="@Messages.Refresh"><img src = "/Content/Images/Refresh.png" alt="@Messages.Refresh"/></a>
        @Html.Raw(Admin.LblAdminTitle_Text) -
        <a href = "/Default" > @Html.Raw(Admin.LblHomeLink_Text) &raquo;</a>
    </h1>

    <div class="clear"></div>

    <div id="TabDiv">
        @*<a id="ctl00_lnkSelectPages" class="tabselected" href="AdminPages.aspx">Страницы Wiki</a>*@
        <ul class="sidebar-menu">
            @if (Model.HomeAvailable)
            {
                <li class="menu-item-title"><a href="#">@Admin.LnkSelectAdminHome_Text</a></li>
                <li class="dropdown" style="@Model.HomeDisplayStyle">
                    <ul>
                        <li>
                            @Html.ActionLink(@AdminHome.LblMissingPages_Text, "MissingPages", "Home", null, new {@class = Model.MenuCssClass[AdminMenu.MissingPages] })
                        </li>
                        <li>
                            @Html.ActionLink(@AdminHome.LblOrphanPages_Text, "OrphanPages", "Home", null, new { @class = Model.MenuCssClass[AdminMenu.OrphanPages] })
                        </li>
                        <li>
                            @Html.ActionLink(@AdminHome.LblBulkEmail_Text, "BulkEmail", "Home", null, new { @class = Model.MenuCssClass[AdminMenu.BulkEmail] })
                        </li>
                    </ul>
                </li>
            }
            @if (Model.GroupsAvailable)
            {
                <li>
                    @Html.ActionLink(@Admin.LnkSelectGroups_Text, "UserGroups", "Groups", null, new {@class = Model.MenuCssClass[AdminMenu.UserGroups] })
                </li>
            }
            @if (Model.UsersAvailable)
            {
                <li>
                    @Html.ActionLink(@Admin.LnkSelectAccounts_Text, "Index", "Users", null, new {@class = "tab"})
                </li>
            }
            @if (Model.NamespacesAvailable)
            {
                <li>
                    @Html.ActionLink(@Admin.LnkSelectNamespaces_Text, "Index", "Namespaces", null, new {@class = "tab"})
                </li>
            }
            @if (Model.PagesAvailable)
            {
                <li>
                    @Html.ActionLink(@Admin.LnkSelectPages_Text, "Index", "Pages", null, new {@class = "tab"})
                </li>
            }
            @if (Model.CategoriesAvailable)
            {
                <li>
                    @Html.ActionLink(@Admin.LnkSelectCategories_Text, "Index", "Categories", null, new {@class = "tab"})
                </li>
            }
            @if (Model.SnippetsAvailable)
            {
                <li>
                    @Html.ActionLink(@Admin.LnkSelectSnippets_Text, "Index", "Snippets", null, new {@class = "tab"})
                </li>
            }
            @if (Model.NavPathsAvailable)
            {
                <li>
                    @Html.ActionLink(@Admin.LnkSelectNavPaths_Text, "Index", "NavPaths", null, new {@class = "tab"})
                </li>
            }
            @if (Model.ContentAvailable)
            {
                <li>
                    @Html.ActionLink(@Admin.LnkSelectContent_Text, "Index", "Content", null, new {@class = "tab"})
                </li>
            }
            @if (Model.PluginsAvailable)
            {
                <li>
                    @Html.ActionLink(@Admin.LnkSelectPluginsConfiguration_Text, "Index", "Plugins", null, new {@class = "tab"})
                </li>
            }
            @if (Model.ConfigAvailable)
            {
                <li>
                    @Html.ActionLink(@Admin.LnkSelectConfig_Text, "Index", "Config", null, new {@class = "tab"})
                </li>
            }
            @if (Model.ThemeAvailable)
            {
                <li>
                    @Html.ActionLink(@Admin.LnkSelectTheme_Text, "Index", "Theme", null, new {@class = "tab"})
                </li>
            }
            @if (Model.GlobalHomeAvailable)
            {
                <li>
                    @Html.ActionLink(@Admin.LnkSelectGlobalAdminHome_Text, "Index", "GlobalHome", null, new {@class = "tab red"})
                </li>
            }
            @if (Model.GlobalConfigAvailable)
            {
                <li>
                    @Html.ActionLink(@Admin.LnkSelectGlobalConfig_Text, "Index", "GlobalConfig", null, new {@class = "tab red"})
                </li>
            }
            @if (Model.ProvidersManagementAvailable)
            {
                <li>
                    @Html.ActionLink(@Admin.LnkSelectPluginsManagement_Text, "Index", "ProvidersManagement", null, new {@class = "tab red"})
                </li>
            }
            @if (Model.ImportExportAvailable)
            {
                <li>
                    @Html.ActionLink(@Admin.LnkSelectImportExport_Text, "Index", "ImportExport", null, new {@class = "tab red"})
                </li>
            }
            @if (Model.LogAvailable)
            {
                <li>
                    @Html.ActionLink(@Admin.LnkSelectLog_Text, "Index", "Log", null, new {@class = "tab red"})
                </li>
            }
        </ul>
    </div>

    <div id="ContentDiv">
        @RenderBody()
        @*<asp:ContentPlaceHolder ID="cphAdmin" runat="server"/>*@
    </div>

    <div class="clear"></div>

    @*<st:KeepAlive runat="server" ID="keepAlive"/>*@

</div>

</body>
</html>
