@using ScrewTurn.Wiki.Web.Code.Extensions
@using ScrewTurn.Wiki.Web.Localization.Messages
@using ScrewTurnWiki.Web
@model ScrewTurn.Wiki.Web.Models.WikiModel
<!DOCTYPE html>
<html dir="@Model.Direction" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@Model.Title</title>
@foreach (var htmlHead in Model.HtmlHeads)
{
    @htmlHead
}
    @Scripts.Render(BundleConfig.ModernizrJS)
    @Scripts.Render(BundleConfig.JqueryJS)
    @Scripts.Render(BundleConfig.JqueryUnobtrusiveJS)
    @Scripts.Render(BundleConfig.JqueryUIJS)
    @Styles.Render(BundleConfig.JqueryUICss)
    @*@Scripts.Render(BundleConfig.BootboxJS)*@
    @*@Scripts.Render(BundleConfig.RespondJS)*@

    @Url.ScriptLink("stw/common/commonwizard.js")
</head>
<body>
<script type="text/javascript">
    var CONFIRM_MESSAGE = "@Messages.ConfirmOperation";
</script>
<div id="HeaderDiv">
    @Model.Header
</div>

<div id="ContainerDiv">

    <div id="SidebarDiv">
        <div id="SidebarHeaderDiv">
            <!-- Used for layout purposes only -->
        </div>
        <div id="SidebarContentDiv">
            @Model.Sidebar
        </div>
        <div id="SidebarFooterDiv">
            <!-- Used for layout purposes only -->
        </div>
    </div>
    <div id="MainDiv">
        <div id="MainHeaderDiv">
            <!-- Used for layout purposes only -->
        </div>
        @Model.PageHeader
        @RenderBody()
        @Model.PageFooter
        <div id="MainFooterDiv">
            <!-- Used for layout purposes only -->
        </div>
    </div>

</div>

<div id="FooterDiv">
    @Model.Footer
</div>

@RenderSection("scripts", required: false)
</body>
</html>
