@using ScrewTurn.Wiki.Web.Localization.Admin
@model ScrewTurn.Wiki.Web.Models.Admin.Common.AclActionsSelectorModel

<table>
    <tr>
        <td style="text-align: right;">
            <b>@AclActionsSelector.LblGrant_Text</b>
        </td>
        <td>
            <b>@AclActionsSelector.LblDeny_Text</b>
        </td>
    </tr>

    <tr>
        <td style="text-align: right;">
            <table>
                @for (var i = 0; i < Model.ActionsGrant.Count(); i++)
                {
                    <tr>
                        <td>
                            @{var agr = Model.ActionsGrant[i];}
                            @Html.HiddenFor(model => model.ActionsGrant[i].Text)
                            @Html.HiddenFor(model => model.ActionsGrant[i].Value)
                            @Html.LabelFor(model => model.ActionsGrant[i].Value, agr.Text)
                            @Html.CheckBoxFor(model => model.ActionsGrant[i].Selected)
                        </td>
                    </tr>
                }
            </table>
        </td>
        <td>
            <table>
                @for (var i = 0; i < Model.ActionsDeny.Count(); i++)
                {
                    <tr>
                        <td>
                            @Html.HiddenFor(model => model.ActionsDeny[i].Text)
                            @Html.HiddenFor(model => model.ActionsDeny[i].Value)
                            @Html.CheckBoxFor(model => model.ActionsDeny[i].Selected)
                            @Html.LabelFor(model => model.ActionsDeny[i].Value, " ")
                        </td>
                    </tr>
                }
            </table>

        </td>
    </tr>
</table>