@using System.Web.Mvc.Html
@using ScrewTurn.Wiki.Web.Localization.Admin
@model ScrewTurn.Wiki.Web.Models.Admin.Home.BulkEmailModel
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h2 class="sectiontitle">@AdminHome.LblAdminHome_Text</h2>

<h2 class="separator">@AdminHome.LblBulkEmail_Text</h2>

@using (Html.BeginForm("BulkEmail", "Home"))
{
    @Html.AntiForgeryToken()
    <div id="BulkEmailDiv">

        @AdminHome.LblBulkEmailInfo_Text
        <br/><br/>
        <ul>
            @for (var i = 0; i < Model.Groups.Count(); i++)
            {
                <li class="list-line">
                    @{ var gr = Model.Groups[i]; }
                    @Html.HiddenFor(model => model.Groups[i].Text)
                    @Html.HiddenFor(model => model.Groups[i].Value)
                    @Html.CheckBoxFor(model => model.Groups[i].Selected)
                    @Html.LabelFor(model => model.Groups[i].Value, gr.Text)
                    @*<br />*@
                </li>
            }
        </ul>
        @Html.ValidationMessageFor(model => model.Groups, "", new {@class = "resulterror"})
        <br/>
        @AdminHome.LblSubject_Text
        <br/>
        @Html.TextBoxFor(m => m.Subject, @Model.Subject, new {@class = "textbox"})
        @Html.ValidationMessageFor(model => model.Subject, "", new {@class = "resulterror"})
        <br/>
        @Html.TextAreaFor(m => m.Body, new {@class = "body"})
        @Html.ValidationMessageFor(model => model.Body, "", new {@class = "resulterror"})
        <br/>
        <br/>
        <input type="submit" value="@AdminHome.BtnSendBulkEmail_Text"/>
        @if (!MvcHtmlString.IsNullOrEmpty(Html.ValidationSummary(true)))
        {
            <div class="resulterror">@Html.ValidationSummary(true)</div>
        }
        @if (Model.Result != null)
        {
            <div class="resultok">@Html.Raw(Model.Result)</div>
        }
    </div>
}
<div style="clear: both;"></div>
