@using ScrewTurn.Wiki.Web.Localization.Admin
@using ScrewTurn.Wiki.Web.Localization.Messages
@model ScrewTurn.Wiki.Web.Models.Admin.Home.MissingPagesModel
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h2 class="sectiontitle">@AdminHome.LblAdminHome_Text</h2>

<h2 class="separator">@AdminHome.LblMissingPages_Text</h2>
<table class="generic" cellpadding="0" cellspacing="0">
    <thead>
    <tr class="tableheader">
        <th>@AdminHome.LblNamespace_Text</th>
        <th>@AdminHome.LblPage_Text</th>
        <th>@AdminHome.LblLinkedIn_Text</th>
    </tr>
    </thead>
    <tbody>
    @for (int i = 0; i < Model.WantedPages.Count; i++)
    {
        var cl = i%2 == 0 ? "tablerow" : "tablerowalternate";

        <tr class="@cl">
            <td><a href='@String.Concat("/", Model.WantedPages[i].NspacePrefix, "Default")' title='@Messages.GoToMainPage' target="_blank">@Model.WantedPages[i].Nspace</a></td>
            <td><a href='@String.Concat("/Edit?Page=", ScrewTurn.Wiki.Tools.UrlEncode(Model.WantedPages[i].Name))' title='@Messages.CreateThisPage' target="_blank">@ScrewTurn.Wiki.PluginFramework.NameTools.GetLocalName(Model.WantedPages[i].Name)</a></td>
            <td>@Html.Raw(Model.WantedPages[i].LinkingPages)</td>
        </tr>
    }
    </tbody>
</table>

<div style="clear: both;"></div>