@using Microsoft.Ajax.Utilities
@using ScrewTurn.Wiki.Web.Code.Extensions
@using ScrewTurn.Wiki.Web.Localization.Common
@using ScrewTurn.Wiki.Web.Localization.Messages
@model ScrewTurn.Wiki.Web.Models.User.LoginModel
@{
    Layout = "~/Views/Shared/_SALayout.cshtml";
}
<script type="text/javascript">
    $(document).ready(function () {
        $('#Username').focus();
    });
</script>
<h1 class="pagetitlesystem">@Login.LblTitle_Text
</h1>
@if (String.IsNullOrEmpty(Model.Description))
{
    @Html.Raw(Login.LblDescription_Text)
}
else
{
    @Model.Description
}
<br/><br/>
@using (Html.BeginForm("Login", "User", new { ReturnUrl = ViewBag.ReturnUrl }))
{
    @Html.AntiForgeryToken()
    var validationSummary = Html.ValidationSummary(true);
    <table>
        <tr>
            <td></td>
            <td>
                @if (!MvcHtmlString.IsNullOrEmpty(validationSummary))
                {
                    <div class="resulterror">@validationSummary</div>
                }
            </td>
        </tr>
        <tr>
            <td>
                <p style="text-align: right;">@Login.LblUsername_Text:</p></td>
            <td>@Html.TextBoxFor(m => m.Username, new {title = Login.TxtUsername_ToolTip, width = "200px"})
            @Html.ValidationMessageFor(model => model.Username, "", new { @class = "resulterror" })
            </td>
        </tr>
        <tr>
            <td>
                <p style="text-align: right;">
                    @Login.LblPassword_Text:
                </p>
            </td>
            <td>@Html.PasswordFor(m => m.Password, new {title = @Login.TxtPassword_ToolTip, width = "200px"})
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "resulterror" })
            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td><span title="@Login.ChkRemember_ToolTip">
                @Html.CheckBoxFor(model => model.Remember)
                @Html.LabelFor(model => model.Remember, @Login.ChkRemember_Text)
            </span></td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>
                @if (Model.DisplayCaptcha)
                {
                    <div class="captcha-box">
                        @Html.Raw(Html.GenerateCaptcha())
                    </div>
                }
            </td>
        </tr>
        <tr>
            <td style="height: 24px">&nbsp;</td>
            <td style="height: 24px">
                <input type="submit" class="button" value="@Login.BtnLogin_Text" title="@Login.BtnLogin_ToolTip"/>
                @Html.ActionLink(@Messages.LostPassword, "PasswordReset", "User")
            </td>
        </tr>
    </table>

}
<br/>
@if (!@Model.ResultText.IsNullOrWhiteSpace())
{
    <span class="@Model.ResultCss">@Html.Raw(Model.ResultText)</span>
}
