@using Microsoft.Ajax.Utilities
@using ScrewTurn.Wiki.Web.Localization.Common
@model ScrewTurn.Wiki.Web.Models.User.LogoutModel
@{
    Layout = "~/Views/Shared/_SALayout.cshtml";
}
<h1 class="pagetitlesystem">
    @Login.LblTitle_Text
</h1>
@if (String.IsNullOrEmpty(Model.Description))
{
    @Html.Raw(Login.LblDescription_Text)
}
else
{
    @Model.Description
}
<br/><br/>
@if (String.IsNullOrEmpty(Model.LogoutText))
{
    @Login.LblLogout_Text
}
else
{
    @Html.Raw(Model.LogoutText)
}
<br/><br/>
@using (Html.BeginForm("Logout", "User"))
{
    @Html.AntiForgeryToken()
    <input type="submit" class="button" value="@Login.BtnLogout_Text" title="@Login.BtnLogout_ToolTip" />
}
<br />
@if (!@Model.ResultText.IsNullOrWhiteSpace())
{
    <span class="@Model.ResultCss">@Model.ResultText</span>
}
