
@using Microsoft.Ajax.Utilities
@using ScrewTurn.Wiki.Web.Code.Extensions
@using ScrewTurn.Wiki.Web.Localization.Common
@model ScrewTurn.Wiki.Web.Models.User.PasswordResetModel
@{
    Layout = "~/Views/Shared/_SALayout.cshtml";
}
<h1 class="pagetitlesystem">
    @Login.LblTitle_Text
</h1>
@using (Html.BeginForm("PasswordReset", "User"))
{
    @Html.AntiForgeryToken()
    <h3 class="separator">@Login.LblResetPassword_Text</h3>
    @Html.Raw(@Login.LblResetPasswordInformation_Text)
                <br /><br />
    <table>
        <tr>
            <td>
                <p style="text-align: right;">@Login.LblUsername_Text:
                </p>
            </td>
            <td>@Html.TextBoxFor(m => m.UsernameReset, new { width = "200px" })</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td><b>--- @Login.LblOr_Text ---</b></td>
        </tr>
        <tr>
            <td>
                <p style="text-align: right;">@Login.LblEmailReset_Text:
                </p>
            </td>
            <td>@Html.TextBoxFor(m => m.EmailReset, new {width = "200px"})</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>
                @if (Model.DisplayCaptcha)
                {
                    <div class="captcha-box">
                        @Html.Raw(Html.GenerateCaptcha())
                    </div>
                }
            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td><input type="submit" class="button" value="@Login.BtnResetPassword_Text"/></td>
        </tr>
    </table>
}
<br />
@if (!@Model.ResultText.IsNullOrWhiteSpace())
{
    <span class="@Model.ResultCss">@Model.ResultText</span>
}
