@using Microsoft.Ajax.Utilities
@using ScrewTurn.Wiki.Web.Localization.Common
@model ScrewTurn.Wiki.Web.Models.User.PasswordRecoveryModel
@{
    Layout = "~/Views/Shared/_SALayout.cshtml";
}
<h1 class="pagetitlesystem">
    @Login.LblTitle_Text
</h1>
@using (Html.BeginForm("PasswordRecovery", "User", new { ResetCode = ViewBag.Resetcode, Username = ViewBag.Username }))
{
    @Html.AntiForgeryToken()
    <h3 class="separator">@Login.LblResetPassword_Text</h3>
    @Login.LblResetPassword2Info_Text
    <br/><br/>
    if (!Model.HidePasswordFiealds)
     {
         var validationSummary = Html.ValidationSummary(true);
         <table>
             <tr>
                 <td>
                     <p style="text-align: right;">@Login.LblNewPassword1_Text
                     </p>
                 </td>
                 <td>
                     @Html.EditorFor(model => model.NewPassword)
                     @Html.ValidationMessageFor(model => model.NewPassword, "", new {@class = "resulterror"})
                 </td>
             </tr>
             <tr>
                 <td>
                     <p style="text-align: right;">@Login.LblNewPassword2_Text
                     </p>
                 </td>
                 <td>
                     @Html.EditorFor(model => model.ConfirmNewPassword)
                     @Html.ValidationMessageFor(model => model.ConfirmNewPassword, "", new {@class = "resulterror"})
                 </td>
             </tr>
             <tr>
                 <td></td>
                 <td>
                     @if (!MvcHtmlString.IsNullOrEmpty(validationSummary))
                     {
                         <div class="resulterror">@validationSummary</div>
                     }
                 </td>
             </tr>
             <tr>
                 <td>&nbsp;</td>
                 <td>
                     <input type="submit" class="button" value="@Login.BtnSaveNewPassword_Text"/>
                 </td>
             </tr>
         </table>
     }
}
<br />
@if (!@Model.ResultText.IsNullOrWhiteSpace())
{
    <span class="@Model.ResultCss">@Html.Raw(Model.ResultText)</span>
}
