@model ScrewTurn.Wiki.Web.Models.User.ProfilePasswordModel
@using loc = ScrewTurn.Wiki.Web.Localization.Common.Profile
<table cellpadding="0" cellspacing="4">
    <tr>
        <td>
            <p style="text-align: right;width: 150px;">
                @Html.Raw(loc.LblOldPassword_Text):
            </p>
        </td>
        <td>
            @Html.EditorFor(model => model.OldPassword, @Model.OldPassword, new {title = loc.TxtOldPassword_ToolTip, width = "200px"})
            @Html.ValidationMessageFor(model => model.OldPassword, "", new {@class = "resulterror"})
        </td>
    </tr>
    <tr>
        <td>
            <p style="text-align: right;width: 150px;">
                @Html.Raw(loc.LblPassword1_Text):
            </p>
        </td>
        <td>
            @Html.EditorFor(model => model.NewPassword, @Model.NewPassword, new {title = loc.TxtPassword1_ToolTip, width = "200px"})
            @Html.ValidationMessageFor(model => model.NewPassword, "", new {@class = "resulterror"})
        </td>
    </tr>
    <tr>
        <td>
            <p style="text-align: right;width: 150px;">
                @Html.Raw(loc.LblPassword2_Text):
            </p>
        </td>
        <td>
            @Html.EditorFor(model => model.ConfirmNewPassword, @Model.ConfirmNewPassword, new {title = loc.TxtPassword2_ToolTip, width = "200px"})
            @Html.ValidationMessageFor(model => model.ConfirmNewPassword, "", new {@class = "resulterror"})
        </td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td>
            <input type="submit" value="@loc.BtnSavePassword_Text" title="@loc.BtnSavePassword_ToolTip"/>
            @if (!MvcHtmlString.IsNullOrEmpty(Html.ValidationSummary(true)))
            {
                <div class="resulterror">@Html.ValidationSummary(true)</div>
            }
        </td>
    </tr>
</table>
@Html.HiddenFor(model => model.Message.Type)
@Html.HiddenFor(model => model.Message.Text)
